<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/docs.css" />
    <title>DHBreWt-API</title>
  </head>
  <body>
    <h1>DHBreWt Api</h1>
    <h2>Routes</h2>
    <div class="route-block">
      <h3 class="route-name">/docs</h3>
      <p class="route-description">
        A brief overview of all the routes that our backend currently supports
      </p>
      <div class="route-example">
        <h4>Examples:</h4>
        <a href="/docs">http://DHBreWt.com/api/docs</a>
      </div>
    </div>
  </body>
</html>
